<div class="home-spotlight-block home-spotlight-slider" id="home-spotlight-slider-{{block.id}}" {% unless block.settings.layout_style == 'style_2'%}data-loader-script="{{ 'halo.slide-blog.js' | asset_url }}"{% endunless %}>
    <div class="{% if block.settings.layout == 'default' %}container{% elsif block.settings.layout == 'padd_50' %}container-padd60{% else %}container-fluid{% endif %}">
        {% if block.settings.spotlight_block_title != blank %}
        <div class="widget-title{% if block.settings.title_style == 'style_2' %} not-before {% elsif block.settings.title_style == 'style_3' %} style_3 {% endif %}{% unless block.settings.spotlight_block_des != blank %} no-des{% endunless %}">   
            <h3 class="box-title">
                <span class="title"> 
                {% render 'multilang' with block.settings.spotlight_block_title %}
                </span>
            </h3>
            {% if block.settings.spotlight_block_des != blank %}
            <p>
                {% render 'multilang' with block.settings.spotlight_block_des %}
            </p>        
            {% endif %}
        </div>
        {% endif %}
        
        <div class="row {% if block.settings.layout_style == 'style_2' %} spotlight-style-2{% endif %}"
        {% unless block.settings.layout_style == 'style_2' %} data-blogs-slider{% endunless %} data-rows="{% if settings.layout_style == 'layout_style_fullwidth' %}4{% else %}3{% endif %}">
            {% for i in (1..6) %}
            
            {%- assign column_size = 'col-12 col-md-6 col-lg-3 item' -%}

            {% capture enable %}enable_{{ i }}{% endcapture %}
            {% capture image %}image_{{ i }}{% endcapture %}
            {% capture title %}title_{{ i }}{% endcapture %}
            {% capture link_text %}link_text_{{ i }}{% endcapture %}
            {% capture link %}link_{{ i }}{% endcapture %}

            {% if block.settings[enable] %}
            <div class="{{ column_size }}">
                <div class="spotlight-item {% if block.settings.layout_style == 'style_3' %}no-shadow{% endif %}">
                    <div class="img-box">
                        {% if block.settings[image] != blank %}
                            {%- assign preview_img = block.settings[image] -%}
                            <a class="animate-scale adaptive_height" href="{{ block.settings[link] }}" style="padding-top: {{ 1 | divided_by: preview_img.aspect_ratio | times: 100 }}%">
                                {%- assign img_url = block.settings[image] | img_url: 'original', crop: 'center' -%}
                                <img data-srcset="{{ img_url }}" alt="{{ block.settings[image].alt | default: shop.name }}" class="lazyload" data-sizes="auto">
                            </a>
                        {% else %}
                            <a class="animate-scale" href="{{ block.settings[link] }}">
                                {% if block.settings.layout_style == 'style_2' %}
                                    <div class="not_img">170 x 180px</div> 
                                {% else %}
                                    <div class="not_img">370 x 440px</div>   
                                {% endif %}
                                
                            </a>
                        {% endif %}
                        
                        {% if block.settings[title] != blank or block.settings[link_text] != blank %}
                        <div class="content spotlight-inner">
                            {% if block.settings[title] != blank  %}
                            <h3 class="title">
                                {% render 'multilang' with block.settings[title] %} 
                            </h3>
                            {% endif %}

                            {% if block.settings[link_text] != blank  %}
                            <a href="{{ block.settings[link] }}" class="shop_link text-hover">
                                {% render 'multilang' with block.settings[link_text] %}
                            </a>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<style>
  {% assign margin_bottom =  block.settings.margin_bottom %}

    {% if block.settings.display_padding %}

    {% if block.settings.layout_style == 'style_2' %}
        #home-spotlight-slider-{{ block.id }} {
            padding: 5px 0 20px;
            border-bottom: 1px solid {{ block.settings.bg_border_color }};
            overflow: hidden;
        }
    {% else %}
        #home-spotlight-slider-{{ block.id }} {
            padding: 50px 0 90px;
            border-bottom: 1px solid {{ block.settings.bg_border_color }};
        }
    {% endif %}
    

    @media (max-width: 1199px) and (min-width: 768px) {
        #home-spotlight-slider-{{ block.id }} {
            padding: 40px 0 70px;
        }
    }

    @media (max-width: 992px) {
        {% if block.settings.layout_style == 'style_2' %}
            #home-spotlight-slider-{{ block.id }} {
                padding: 0px 0 0px;
            }
        {% endif %}
    }

    @media (max-width: 767px) {
        {% if block.settings.layout_style == 'style_2' %}
            #home-spotlight-slider-{{ block.id }} {
                padding: 0px 0 0px;
            }
        {% else %}
            #home-spotlight-slider-{{ block.id }} {
                padding: 30px 0 50px;
            }
        {% endif %}
        
    }
    {% endif %}
  
    #home-spotlight-slider-{{ block.id }} {
        background-color: {{ block.settings.bg_color }};    
    }

    #home-spotlight-slider-{{ block.id }} .widget-title .box-title .title {
        background-color: {{ block.settings.bg_color }};    
    }

    @media (max-width: 1199px) {
        #home-spotlight-slider-{{ block.id }} {
            margin-bottom: {{ block.settings.margin_bottom_mb }}px;
        }
    }
    
    @media (min-width: 1200px) {
        #home-spotlight-slider-{{ block.id }} {
        margin-bottom: {{ margin_bottom }}px;
        }
    }	
</style>
